*{
margin: 0px;
padding: 0px;

}

/* This is Header Section */


.header-container{
    display: flex;
    justify-content:space-around;
    width: 1920px;
    height: 800px;

    background: rgba(229, 84, 115, 0.10);
}
.header-heading{
    
width: 708px;
color: #272727;
font-family: 'Lato', sans-serif;
font-size: 80px;
line-height: normal;
}
.heading-paragraph{
    font-family: 'Lato', sans-serif; 
width: 634px;
color: rgba(39, 39, 39, 0.60);
line-height: 25px;
font-size: 18px;
margin-top: 40px;
}
.heading-btn{
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: 0px;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
}
.header-image{
    width: 635px;
height: 800px;
padding-right: 200px;


}
.heading-text{
    padding-top: 190px;
    padding-left: 200px;
}


/* This is Main Section */

/* This is Second Section */


.second-section-heading-text{
    color: #272727;
    font-family: 'Lato', sans-serif;

font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.second-section-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

width: 594px;
padding-left: 650px;
margin-top: 20px;


}
.second-section-heading{
     text-align: center; 
     padding-top: 150px;
}

.image-one{
    width: 464px;
height: 538px;

border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
margin-top: 50px;
}
.inner-image-one{
    padding: 110px 78px 0px 76px;
}
.image-two{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-top: 50px;
}
.inner-image-two{
    padding: 117px 47px 51px 47px;
}
.image-three{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
margin-top: 50px;
}
.inner-image-three{
    padding: 67px 75px 0px 75px;
}
.second-section-image-container{
    display: flex;
     justify-content: center;
     gap: 20px;
}
.second-section-text-container{
    display: flex;
    
    color: #272727;
 text-align: center; 
font-family: 'Lato', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; 
text-decoration-line: underline;
gap: 350px;
padding-left: 370px;
}
.text-one{
    padding-top: 30px;
    
}
.text-two{
    padding-top: 30px;
   
}
.text-three{
    padding-top: 30px;
    
}

/* This is third section or optional section*/


.third-section-container{
    width: 1440px;
height: 320px;

border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
text-align: center;
margin-left: 235px;
margin-top: 128px;
}
.icon-container{
    display: flex;
    
    justify-content: space-evenly;
    text-align: center;
    padding-top: 86px;
    padding-bottom: 146px;
}
.icon-text{

    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: 'Lato', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
padding-top: 20px;
}

/* This is fourth section */

.fourth-section-container{
    width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 128px;
}
.fourth-section-heading-container{
    display: flex;
    text-align: center;
    justify-content:space-evenly ;
    padding-top: 230px;
    padding-bottom: 258px;
   

}
.fourth-image{
   margin-top: -120px;
   margin-right: 100px;
   
}
#fourth{
    padding-left: 10px;
}
.span-class{
   color: #E55473;
}

/* This is fifth section */

.fifth-section{
    margin-top: 128px;
    text-align: center;
}
.fifth-section-image-container{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-top: 50px;
}

/* This is bonus section */
.bonus-section{
    margin-top: 128px;
    text-align: center;
    padding-top: 60px;
}
.bonus-section-image-container{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-top: 50px;
}
.bonus-section-container{
    width: 1922px;
    height:750px;
   
    flex-shrink: 0;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}

/* This is last section of Main */


.sixth-section-container{
    width: 1440px;
height: 449px;

background-image: url("./images/Rectangle\ 9.png");
margin: 0 auto;
margin-top: 128px;
text-align: center;

}
.input-container{
    display: flex;
    gap:20px;
    padding: 45px 453px 121px 287px;
    
}
.input-field input{
    width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 0px;
padding-left: 20px;

}
.button-field{
   margin-top: -40px;
}
#six-heading{
    padding-top: 150px;
}
#six{
    padding-left: 420px;
}


/* This is footer section */

.footer-container{
    width: 1922px;
height: 449px;
flex-shrink: 0;
background: #111010;
text-align: center;

margin-top: 128px;

}
#footer-heading{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 100px;
}
.footer-span{
    color: white;
}
#footer-paragraph{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.last{
    color: rgba(255, 255, 255, 0.40);

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 50px;
}